# Syntax

In [ ]:
def function_name():
    logic

In [ ]:
def my_function(): #creating a function
    print("Hello, Welcome to the python program")

In [ ]:
type(my_function)

In [ ]:
my_function() # function call

In [ ]:
my_function()

In [ ]:
my_function()

In [ ]:
print("Hi, Welcome to the Python Program...!!!!")
print("This is my first Python Function Program")

In [ ]:
print("Hello")
print("This is my first Python Function Program")

In [ ]:
# call the function/invoke the function
print("Hi, Welcome to the Python Program...!!!!")
my_function()

In [ ]:
print("Hello")
my_function()

In [ ]:
a = 10 #hard coded
b = 20 #hard coded
print(f'The sum of {a} and {b} is {a+b}')

In [ ]:
# Get input from user and print the sum -> user driven program
a = float(input("Enter first number :")) #dynamic programming
b = float(input("Enter Second number :")) # dynamic programming
print(f'The sum of {a} and {b} is {a+b}')

In [5]:
def custom_add(x,y): #parameters(variables)
    '''This function will add two numbers'''
    print(f'The sum of {x} and {y} is {x+y}')

In [7]:
a = 10 #hard coded
b = 20 #hard coded
custom_add(a,b)

The sum of 10 and 20 is 30

In [8]:
a = int(input("Enter the number:"))

Enter the number:10
100

In [9]:
def custom_square(sq):
    print(f"The square of {sq} is {sq*sq}")

In [16]:
custom_square(90)

The square of 90 is 8100

In [17]:
# when I will create a function : The variables inside that function I will call it as parameters
# When I will call a function : The variables which I will pass inside that function I will call it as arguments

In [28]:
# creating the function
def my_function(): # No arguments/ parameters
    print("This is my first Python Function Program")

In [29]:
my_function() #function call

This is my first Python Function Program

In [30]:
def my_function(name): #function with one parameter
    print(f"Hello {name}, Welcome to the Python Programming")

In [32]:
my_function("Parmeet")
my_function("Trishaan")
my_function("Anit")

Hello Parmeet, Welcome to the Python Programming
Hello Trishaan, Welcome to the Python Programming
Hello Anit, Welcome to the Python Programming

In [33]:
def my_function(fname,lname):
    print(f"Hello {fname} {lname}, Welcome to the Python Programming")

In [34]:
my_function("Parmeet",'Singh')
my_function("Prateek",'Sharma')
my_function("Aniket",'Kumar')

Hello Parmeet Singh, Welcome to the Python Programming
Hello Prateek Sharma, Welcome to the Python Programming
Hello Aniket Kumar, Welcome to the Python Programming

my_function() -> Function with no arguments/parameters<br>
my_function(name) -> function with one argument/one parameter<br>
my_function(firstname, lastname) -> function with 2 arguments/2 parameters<br>

In [35]:
def custom_multiply(a,b):
    c = a*b
    return c

In [37]:
mult = custom_multiply(10,20)

In [38]:
mult

200

In [39]:
def custom_multiply(a,b):
    c = a*b
    print(c) # This function is retuning None value

In [40]:
mult = custom_multiply(10,20)

200

In [42]:
mult

In [57]:
def custom_multiply(a,b):
    c = a*b
    return c

In [60]:
# multiply the two numbers and I want to check whether the output is even or odd
x = 5
y = 4
out = custom_multiply(x,y)
if out%2 ==0:
    print(f"{out} is even")
else:
    print(f"{out} is odd")

20 is even

In [50]:
custom_multiply(x,y)

20

In [76]:
def my_function(fname,lname):
    c = (f"Hello {fname} {lname}, Welcome to the Python Programming")
    return c

In [78]:
output = my_function("Parmeet",'Singh')

In [79]:
output

'Hello Parmeet Singh, Welcome to the Python Programming'

In [92]:
#If the number of arguments is unknown, add * before the parameter name:

def my_function(*users):
    print(type(users))
    print(f"Welcome all the Python Users : {users}")

In [93]:
my_function("Parmeet","Trishaan")

<class 'tuple'>
Welcome all the Python Users : ('Parmeet', 'Trishaan')

In [95]:
tupl1 = ('Apple','Mango','Banana','Cherry')
a,b,*c = tupl1

In [96]:
c

['Banana', 'Cherry']

In [91]:
my_function("Parmeet","Trishaan")
my_function("Parmeet","Trishaan","Prateek")
my_function("Parmeet","Trishaan","Prateek",'Vishal')

Welcome all the Python Users : ('Parmeet', 'Trishaan')
Welcome all the Python Users : ('Parmeet', 'Trishaan', 'Prateek')
Welcome all the Python Users : ('Parmeet', 'Trishaan', 'Prateek', 'Vishal')

In [101]:
def cust_add(*a): # *args
    print(type(a))
    print(sum(list(a)))

In [105]:
t1 = (1,2)
type(t1)
psum(list(t1))

3

In [102]:
cust_add(1,2,3)

<class 'tuple'>
6

In [100]:
cust_add(1,2,3,4)
cust_add(1,2,3,4,5)

10
15

In [108]:
def my_function(**users): #keyword arguments #def my_function(Name,Location)
    print(users)
    print(type(users))

In [109]:
my_function(Name="Parmeet",Location="Indore")

{'Name': 'Parmeet', 'Location': 'Indore'}
<class 'dict'>

In [110]:
def my_function(Name, Age, Location):
    print(f"Hi, my name is {Name} age is {Age} and location is {Location}")

In [111]:
my_function(Name='Parmeet',Age=27,Location='Indore')

Hi, my name is Parmeet age is 27 and location is Indore

In [114]:
def my_function(**details):
    print(f"Hi, name is {details['Name']} and age is {details['Age']} and location is {details['Location']}")

In [115]:
my_function(Name='Parmeet',Age=27,Location='Indore')

Hi, name is Parmeet and age is 27 and location is Indore

In [116]:
def my_function(country):
    print("I am from " + country)

In [117]:
my_function()

TypeError: my_function() missing 1 required positional argument: 'country'

In [118]:
def my_function(country='India'):
    print("I am from " + country)

In [121]:
my_function("sweden")
my_function() #call with default values
my_function("Paris")

I am from sweden
I am from India
I am from Paris

In [128]:
def odd_even(*vars):
    for ele in vars:
        if ele%2 ==0:
            print(f'{ele} is even')
        else:
            print(f'{ele} is odd')

In [129]:
odd_even(1,5,43,78,56,4343,65767,232,12323,565,7,43,232,6574)

1 is odd
5 is odd
43 is odd
78 is even
56 is even
4343 is odd
65767 is odd
232 is even
12323 is odd
565 is odd
7 is odd
43 is odd
232 is even
6574 is even

In [140]:
def odd_even(*var):
    for ele in var:
        if ele%2 ==0 and ele %4 ==0:
            print(f'{ele} is even and divisble by 4')
        elif ele%2 !=0:
            print(f'{ele} is odd')
        else:
            print(f'{ele} is even but not divisble by 4')

In [141]:
odd_even(1,5,43,78,56,4343,65767,232,12323,565,7,43,232,6574)

1 is odd
5 is odd
43 is odd
78 is even but not divisble by 4
56 is even and divisble by 4
4343 is odd
65767 is odd
232 is even and divisble by 4
12323 is odd
565 is odd
7 is odd
43 is odd
232 is even and divisble by 4
6574 is even but not divisble by 4

In [149]:
def odd_even(*vars):
    for ele in vars:
        if ele%2 ==0 and ele %4 ==0:
            print(f'{ele} is even and divisble by 4')
        elif ele%2 !=0:
            print(f'{ele} is odd')
        else:
            continue #skipping

In [150]:
odd_even(1,5,43,78,56,4343,65767,232,12323,565,7,43,232,6574)

1 is odd
5 is odd
43 is odd
56 is even and divisble by 4
4343 is odd
65767 is odd
232 is even and divisble by 4
12323 is odd
565 is odd
7 is odd
43 is odd
232 is even and divisble by 4

In [147]:
def custom_subtract():
    pass

In [151]:
list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i%4==0:
        pass #not break the loop
    elif i%2==0:
        print(i)

2
6
10

In [153]:
# 5! =
5*4*3*2*1

120

In [154]:
# factorial function -> recursion -> ou should alwas know the breaking condition
def fact(n):
    # breaking condition
    if n ==1:
        return n
    else:
        return n * fact(n-1)

In [ ]:
fact(5) : 
    n = 5
    return n * fact(n-1) : 5 * fact(5-1) : 5 * fact(4)
    
fact(4) :
    n = 4
    return n * fact(n-1) : 4 * fact(4-1) : 4 * fact(3)
    
fact(3) :
    n = 3
    return n * fact(n-1) : 3 * fact(3-1) : 3 * fact(2)
    
fact(2) : 
    n = 2
    return n * fact(n-1) : 2* fact(n-1) : 2*fact(1)
        
fact(1) : 
    n =1  : output 1

In [ ]:
fact(5) :  5 * 4 * 3 *2*1

In [ ]:
fact(5) ->
   n = 5 : else : 5 * fact(5-1)
            
    5 * fact(5-1) = 5 * fact(4)  = 5 *  4 * fact(4-1) = 5 * 4* fact(3) = 5 * 4 * 3 *fact(3-1) = 5 * 4 * 3 *fact(2)
                                                        5 * 4 * 3 * 2 * FACT(2-1) = 5 * 4 * 3 * 2 * FACT(1) 
                        5 * 4 * 3 * 2 * 1
    
fact(4) -> 4 * fact(4-1)   

fact(4-1) = fact(3) = 3 * fact(3-1)
 fact(3-1) = fact(2) = 2 * fact(2-1)
fact(2-1) = FAct(1) = 1

# lambda Function

In [ ]:
lambda functions are anonymous functions / functions with no name

In [156]:
def square(x):
    return x*x

In [157]:
lambda x : x*x

In [158]:
def cube(x):
    return x*x*x

In [159]:
lambda x : x*x*x

In [160]:
def custom_add(x,y):
    return x+y

In [161]:
lambda x,y : x+y

In [162]:
def custom_add(x,y,z):
    return x+y+z

In [164]:
lambda x,y,z : x+y+z

In [168]:
# write a lambda function to multiply an number by 10
f = lambda a : a*10

In [169]:
f(10)

100

In [170]:
f(2)

20

In [171]:
def mul(a):
    return a*10

In [173]:
mul(10)
mul(2)

20

In [174]:
f = lambda x,y : x*y

In [175]:
f(2,3)

6

In [176]:
def mul(x,y):
    return x*y

In [177]:
mul(3,2)

6

In [178]:
def greater(x,y):
    if x>y:
        return x
    else:
        return y

In [179]:
greater(5,4)

5

In [180]:
greater(5,80)

80

In [181]:
# lambda function using if else, which number is greater

lambda x,y : x if x>y else y

In [182]:
g = lambda x,y : x if x>y else y

In [183]:
g(5,4)

5

In [184]:
g(5,81)

81

# Map, Filter, Reduce

map(function,iterables)

In [185]:
list1 = [2,4,6,8,10]

In [186]:
# I want square of each element in a list
new_list = []
for ele in list1:
    new_list.append(ele*ele)
print(new_list)

[4, 16, 36, 64, 100]

In [187]:
# list comprehension
[ ele*ele for ele in list1]

[4, 16, 36, 64, 100]

In [189]:
def square(x):
    return x *x

In [191]:
new_list = []
for ele in list1:
    new_list.append(square(ele))
print(new_list)

[4, 16, 36, 64, 100]

In [192]:
[square(x) for x in list1]

[4, 16, 36, 64, 100]

map(function,iterables)

In [193]:
map(square,list1) #return object

In [194]:
list(map(square,list1)) # experts

[4, 16, 36, 64, 100]

In [198]:
list(map(lambda x:x*x,list1))

[4, 16, 36, 64, 100]

map (function, iterables)

In [199]:
list1 #iterables

[2, 4, 6, 8, 10]

In [200]:
def sqaure(x):
    return x*x

In [202]:
list(map(sqaure,list1))

[4, 16, 36, 64, 100]

In [203]:
list(map(lambda x:x*x, list1))

[4, 16, 36, 64, 100]

In [204]:
list1

[2, 4, 6, 8, 10]

In [205]:
list(map(lambda x: x*x*x,list1))

[8, 64, 216, 512, 1000]