In [1]:
a = "Parmeet"
b = 1
c =2.7

In [ ]:
a = "Parmeet", "Trishaan", "Anit"

In [3]:
a = [] #list empty list

In [4]:
a

[]

In [5]:
type(a)

list

In [6]:
a = ["Parmeet", "Trishaan", "Anit"]

In [7]:
type(a)

list

In [8]:
a

['Parmeet', 'Trishaan', 'Anit']

In [9]:
list1 = ["Parmeet","Trishaan","Anit","Parmeet"]

In [10]:
list1

['Parmeet', 'Trishaan', 'Anit', 'Parmeet']

1. lists are defined using [] brackets
2. lists are ordered
3. lists are mutable(change the elements)
4. lists can allow duplicates

In [11]:
a = list()

In [13]:
type(a)

list

In [14]:
a

[]

In [15]:
# list of all integer values
list1 = [10,20,40,50,80]
print(list1)
print(type(list1))

[10, 20, 40, 50, 80]
<class 'list'>

In [16]:
# list of all the float values
list2 = [3.5,6.8,2.0,6.9,4.5]
print(list2)
print(type(list2))

[3.5, 6.8, 2.0, 6.9, 4.5]
<class 'list'>

In [17]:
# list of all strings
list3 = ["Parmeet","Trishaan","Anit","Parmeet"]
print(list3)
print(type(list3))

['Parmeet', 'Trishaan', 'Anit', 'Parmeet']
<class 'list'>

In [18]:
# list of all booleans
list4 = [True, False, True,False,False,True]
print(list4)
print(type(list4))

[True, False, True, False, False, True]
<class 'list'>

In [19]:
# list of all the mixed data types
list5 = ["Parmeet",27,72.5,True]
print(list5)
print(type(list5))

['Parmeet', 27, 72.5, True]
<class 'list'>

In [21]:
# Indexing ->[start_index:stop_index:step]
list5[0] #extracting parmeet

'Parmeet'

In [22]:
list5[2]

72.5

In [23]:
list5

['Parmeet', 27, 72.5, True]

In [25]:
# lets us extract first 3 elements
list5[0:3]

['Parmeet', 27, 72.5]

In [26]:
list5

['Parmeet', 27, 72.5, True]

In [27]:
list5[::-1] #reversed the list

[True, 72.5, 27, 'Parmeet']

In [34]:
list5

['Parmeet', 27, 72.5, True]

In [35]:
list5[-1:-3:-1]

[True, 72.5]

In [36]:
# Lists are mutable
list5

['Parmeet', 27, 72.5, True]

In [39]:
list5[1] = 'Trishaan'

In [40]:
list5

['Parmeet', 'Trishaan', 72.5, True]

# Functions

In [41]:
# let us count the number of elements in the list
list5

['Parmeet', 'Trishaan', 72.5, True]

In [42]:
len(list5)

4

In [ ]:
len() -> function 
in ->keyword

In [44]:
# check whether an element exists in a list of not
'Parmeet' in list5

True

In [45]:
'Muskaan' in list5

False

In [46]:
print(f'list1 : {list1}') 
print(f'list2 : {list2}')

list1 : [10, 20, 40, 50, 80]
list2 : [3.5, 6.8, 2.0, 6.9, 4.5]

In [47]:
# [10, 20, 40, 50, 80,[3.5, 6.8, 2.0, 6.9, 4.5]] #list inside list

In [48]:
# append
list1.append(list2)

In [49]:
list1

[10, 20, 40, 50, 80, [3.5, 6.8, 2.0, 6.9, 4.5]]

In [50]:
list1 = [10, 20, 40, 50, 80]

In [51]:
print(f'list1 : {list1}') 
print(f'list2 : {list2}')

list1 : [10, 20, 40, 50, 80]
list2 : [3.5, 6.8, 2.0, 6.9, 4.5]

In [55]:
# extend -> add the two list but it will flatten
list1.extend(list2) #list1 + list2

In [56]:
list1

[10, 20, 40, 50, 80, 3.5, 6.8, 2.0, 6.9, 4.5]

In [57]:
list2.append(list1)

In [58]:
list2

[3.5, 6.8, 2.0, 6.9, 4.5, [10, 20, 40, 50, 80, 3.5, 6.8, 2.0, 6.9, 4.5]]

In [60]:
list2[4]

4.5

In [62]:
# 3.5
list2[5][5]

3.5

In [64]:
list2[5][7]

2.0

In [65]:
list_1 = [1,2,3]
list_2 = [1,2,3]
# lis1 + list2 ->[1,2,3,1,2,3]
list_1 + list_2

[1, 2, 3, 1, 2, 3]

In [67]:
list_1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
# count how many times element is appearing
print(list3, "\t", list3.count('Parmeet'))

['Parmeet', 'Trishaan', 'Anit', 'Parmeet'] 	 2

In [86]:
# see the index of an element
list5.index('Trishaan')

1

In [87]:
list5.index('Muskaan')

ValueError: 'Muskaan' is not in list

In [88]:
list1.count('Muskaan')

0

In [94]:
list2

[3.5, 6.8, 2.0, 6.9, 4.5, [10, 20, 40, 50, 80, 3.5, 6.8, 2.0, 6.9, 4.5]]

In [95]:
# clear -> it will clear all the elments and list will be empty
list2.clear()

In [96]:
list2

[]

In [99]:
# delete the list
del list1

In [100]:
list1

NameError: name 'list1' is not defined

In [107]:
list5 = ['Parmeet', 'Trishaan', 72.5, True]
list5

['Parmeet', 'Trishaan', 72.5, True]

In [108]:
list5[::-1] # it will not update the list

[True, 72.5, 'Trishaan', 'Parmeet']

In [109]:
list5

['Parmeet', 'Trishaan', 72.5, True]

In [110]:
list5.reverse() # it will update the existing list

In [111]:
list5

[True, 72.5, 'Trishaan', 'Parmeet']

In [112]:
# adding a element
list5

[True, 72.5, 'Trishaan', 'Parmeet']

In [113]:
list5.append('Anit')

In [114]:
list5

[True, 72.5, 'Trishaan', 'Parmeet', 'Anit']

In [115]:
list5.insert(2,'Mango') # inserting an element at the specified position/index

In [116]:
list5

[True, 72.5, 'Mango', 'Trishaan', 'Parmeet', 'Anit']

In [117]:
list5.insert(4,'Cherry')

In [118]:
list5

[True, 72.5, 'Mango', 'Trishaan', 'Cherry', 'Parmeet', 'Anit']

delete an element 
1. pop()
2. remove()

In [119]:
list5.pop() # by default I will remove the last element from the list and return the element at that position

'Anit'

In [120]:
list5

[True, 72.5, 'Mango', 'Trishaan', 'Cherry', 'Parmeet']

In [121]:
list5.pop()

'Parmeet'

In [122]:
list5

[True, 72.5, 'Mango', 'Trishaan', 'Cherry']

In [123]:
list5.pop(-1)

'Cherry'

In [124]:
list5

[True, 72.5, 'Mango', 'Trishaan']

In [125]:
list5.pop(2)

'Mango'

In [126]:
list5

[True, 72.5, 'Trishaan']

In [129]:
list5.append('Mango')
list5

[True, 72.5, 'Trishaan', 'Mango']

In [130]:
list5.append('Parmeet')
list5

[True, 72.5, 'Trishaan', 'Mango', 'Parmeet']

In [131]:
list5.remove('Trishaan')

In [132]:
list5

[True, 72.5, 'Mango', 'Parmeet']

1. Pop -> It will take the index number and remove the ele at that index and it will return the element at that index
2. Remove -> It will take the element you want to remove

In [137]:
list5.insert(2,'Cherry')

In [138]:
list5

[True, 72.5, 'Cherry', 'Mango', 'Parmeet']

In [146]:
list1 = [40,2,67,890,21,3,68,9]

In [147]:
list1

[40, 2, 67, 890, 21, 3, 68, 9]

In [148]:
# sorting the list # sort function will return None values
list1.sort() # ascending order

In [149]:
list1

[2, 3, 9, 21, 40, 67, 68, 890]

In [150]:
# sort in descending order
list1.sort(reverse=True)

In [151]:
list1

[890, 68, 67, 40, 21, 9, 3, 2]

In [157]:
# sorted
list1 = [40,2,67,890,21,3,68,9]

In [158]:
sorted(list1)

[2, 3, 9, 21, 40, 67, 68, 890]

In [159]:
list1

[40, 2, 67, 890, 21, 3, 68, 9]

1. sorted -> is returning me the sorted values and it will not update the list
2. sort -> it will sort the values and update the list and return Non values

# Tuples

1. Tuples are Immutable(once define you cannot change the values)
2. Tuples are also ordered
3. Tuples can allow duplicates
4. Tuples are defined in small brackets ()

In [162]:
tuple1 = ()
print(tuple1,type(tuple1))

() <class 'tuple'>

In [163]:
tuple1 = tuple()
print(tuple1,type(tuple1))

() <class 'tuple'>

In [165]:
tuple2 = (10,20,30,40)
print(tuple2)
print(type(tuple2))

(10, 20, 30, 40)
<class 'tuple'>

In [167]:
tuple3 = (10.1,20.2,30.0,40.1)
print(tuple3)
print(type(tuple3))

(10.1, 20.2, 30.0, 40.1)
<class 'tuple'>

In [168]:
tuple4 = ('Parmeet','Singh','Dang')
print(tuple4)
print(type(tuple4))

('Parmeet', 'Singh', 'Dang')
<class 'tuple'>

In [169]:
tuple5 = (True, False, True, False)
print(tuple5)
print(type(tuple5))

(True, False, True, False)
<class 'tuple'>

In [170]:
tuple6 = (True, 1,5.6,'Parmeet')
print(tuple6)
print(type(tuple6))

(True, 1, 5.6, 'Parmeet')
<class 'tuple'>

In [177]:
# change the element 'Parmeet' with Trishaan
tuple6[3] ='Anit'

TypeError: 'tuple' object does not support item assignment

In [180]:
tuple6

(True, 1, 5.6, 'Parmeet')

In [182]:
# converting the tuple to list
list1 = list(tuple6)
list1

[True, 1, 5.6, 'Parmeet']

In [183]:
list1[3] = 'Anit'
list1

[True, 1, 5.6, 'Anit']

In [184]:
tuple6 = tuple(list1)
tuple6

(True, 1, 5.6, 'Anit')

In [194]:
list1 = list(tuple6)

In [196]:
list1.append('Parmeet')

In [198]:
tuple6 = tuple(list1)

In [199]:
tuple6

(True, 1, 5.6, 'Anit', 'Parmeet')

In [201]:
len(tuple6)

5

In [202]:
tuple6.count('Parmeet')

1

In [204]:
tuple6.index('Parmeet')

4

In [206]:
tuple1 = ('Mango')
type(tuple1)

str

In [207]:
tuple1 = ('Mango',)
type(tuple1)

tuple

In [208]:
tuple1

('Mango',)

In [228]:
list1 = ['Parmeet']
type(list1)

list

In [229]:
tup = tuple(list1)
tup

('Parmeet',)

## Unpacking concept

In [216]:
tuple1 = ('Mango','Banana','Cherry')

In [217]:
a,b,c = tuple1

In [218]:
print(a,b,c)

Mango Banana Cherry

In [219]:
a,b = tuple1

ValueError: too many values to unpack (expected 2)

In [ ]:
*b ->list

In [220]:
a,*b = tuple1

In [221]:
print(a)
print(b)

Mango
['Banana', 'Cherry']

In [223]:
tuple1

('Mango', 'Banana', 'Cherry')

In [225]:
*a,b = tuple1

In [226]:
print(a)
print(b)

['Mango', 'Banana']
Cherry

In [227]:
a,b,c,d = tuple1

ValueError: not enough values to unpack (expected 4, got 3)

## Sets

1. sets are immutable -> cannot change the element
2. sets are unordered
3. sets doesnot allow duplicates

In [230]:
a = {1,2,3}
type(a)

set

In [231]:
a = {}
type(a)

dict

In [232]:
a = set()
type(a)

set

In [233]:
a = {1,2,3,4,5,6,7}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [235]:
a.pop() # remove

1

In [237]:
a[2]

TypeError: 'set' object is not subscriptable

In [238]:
a = {1,1,1,2,2,2,4,4,5,6,7,8,3}
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [242]:
set1 = {1,2,3,4,5}
set2 = {2,5,7}
set3 = {8}

In [246]:
set1

{1, 2, 3, 4, 5}

In [247]:
set1.add(9)

In [248]:
set1

{1, 2, 3, 4, 5, 9}

In [249]:
set1.add(3)

In [250]:
set1

{1, 2, 3, 4, 5, 9}

In [252]:
print(set1)
print(set2)

{1, 2, 3, 4, 5, 9}
{2, 5, 7}

In [253]:
set1.union(set2)

{1, 2, 3, 4, 5, 7, 9}

In [255]:
set1.update(set2) # updating set1 with set2 elements

In [256]:
set1

{1, 2, 3, 4, 5, 7, 9}

In [257]:
set1

{1, 2, 3, 4, 5, 7, 9}

In [259]:
set2 = {54,56,57,2,5}

In [260]:
print(f'set1 : {set1}')
print(f'set2 : {set2}')

set1 : {1, 2, 3, 4, 5, 7, 9}
set2 : {2, 5, 54, 56, 57}

In [262]:
set1.difference(set2) # remove all the common elements from set 1

{1, 3, 4, 7, 9}

In [263]:
set2.difference(set1) # remove all the common elements from set 2

{54, 56, 57}

In [265]:
set1 = {1,2,3,4,5}
set2 = {2,5}

In [267]:
set2.issubset(set1)

True

In [269]:
set1.issuperset(set2)

True

In [270]:
set1 = {1, 2, 3, 4, 5, 7, 9}
set2 = {2, 5, 54, 56, 57}

In [271]:
set1.intersection(set2)

{2, 5}

In [272]:
set2.intersection(set1)

{2, 5}

In [275]:
set1 = {1,2,3,4}
set2 = {7,5,2}

In [276]:
set1.isdisjoint(set2)

False

In [277]:
set1

{1, 2, 3, 4}

In [278]:
set1.remove(3)

In [279]:
set1

{1, 2, 4}

In [280]:
set1 = {1,2,3,4,5,6,7,8,9}

In [281]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# conditional statements
if condition:
    statement
else:
    statement

# Loops

In [284]:
# print number from 1 to 50
print(1)
print(2).......print(50)

print(1,2,3,4)

SyntaxError: invalid syntax (<ipython-input-284-59cbe97e77e0>, line 1)

In [ ]:
# for loops
for variable_name in iterables:
    logic

In [287]:
range(1,50) # range(start_index, stop_index,step)

range

In [292]:
for ele in range(1,10):
    print(ele, end=" ")

1 2 3 4 5 6 7 8 9

In [294]:
list1 = ['Parmeet','Singh','Dang']

In [295]:
len(list1)

3

In [299]:
for ele in range(3): #0,1,2
    print(ele)

0
1
2

In [297]:
for ele in range(len(list1)):  # for ele in range(3):
    print(ele)

0
1
2

In [300]:
list1

['Parmeet', 'Singh', 'Dang']

In [301]:
for ele in list1:
    print(ele)

Parmeet
Singh
Dang

In [302]:
for ele in "parmeet":
    print(ele)

p
a
r
m
e
e
t

In [ ]:
p a r m e e t
0 1 2 3 4 5 6

In [308]:
# enumerate -> return the tuple of 2 elements (1st ele : index, 2nd ele is value at that index)
for idx,ele in enumerate("parmeet"):
    print(idx,ele)

0 p
1 a
2 r
3 m
4 e
5 e
6 t

In [304]:
idx,ele = (0, 'p')

In [305]:
print(idx, ele)

0 p

In [310]:
for idx,ele in enumerate(list1):
    print(idx,ele)

0 Parmeet
1 Singh
2 Dang

In [311]:
for idx,ele in enumerate(tuple1):
    print(idx,ele)

0 Mango
1 Banana
2 Cherry

In [312]:
set1

{1, 2, 4, 5, 6, 7, 8, 9}

In [313]:
for idx,ele in enumerate(set1):
    print(idx,ele)

0 1
1 2
2 4
3 5
4 6
5 7
6 8
7 9

In [314]:
set1

{1, 2, 4, 5, 6, 7, 8, 9}

In [317]:
for ele in set1:
    print(ele)

1
2
4
5
6
7
8
9

In [323]:
2%2

0

In [321]:
#print only odd elements
for ele in set1:
    if ele %2 !=0:
        print(ele)

1
5
7
9

In [324]:
#print only even elements
for ele in set1:
    if ele %2 ==0:
        print(ele)

2
4
6
8

In [325]:
list1 = [1,2,3,4,5]

In [326]:
# [1,4,9,16,25]

In [331]:
for i in list1:
    print(i*i,end =" ")

1 4 9 16 25

In [333]:
new_list = []
for i in list1:
    new_list.append(i*i)

In [334]:
new_list

[1, 4, 9, 16, 25]