In [1]:
if 3>2:
    print(True)
else:
    print(False)

True

In [2]:
if 4<2:
    print(True)
else:
    print(False)

False

In [3]:
for ele in range(5):
    print(ele)

0
1
2
3
4

In [4]:
for ele in range(1,5):
    print(ele,end=" ")

1 2 3 4

In [5]:
list1 = ['Mango','Banana','Cherry','Pineapple']

In [6]:
for ele in list1:
    print(ele)

Mango
Banana
Cherry
Pineapple

In [7]:
for idx,ele in enumerate(list1):
    print(idx, ele)

0 Mango
1 Banana
2 Cherry
3 Pineapple

In [8]:
for ele in range(10,1,-1):
    print(ele)

10
9
8
7
6
5
4
3
2

In [9]:
list1 = ['apple','banana','cherry','kiwi','mango']
# filter apple : ['banana','cherry','kiwi','mango']

In [18]:
list1 = ['banana','cherry','apple','kiwi','mango']
list1

['banana', 'cherry', 'apple', 'kiwi', 'mango']

In [19]:
for i in list1:
    if i =='apple':
        print(f'{i} found breaking the loop')
        break
    else:
        print(i)

banana
cherry
apple found breaking the loop

In [24]:
list1 = ['banana','cherry','apple','kiwi','mango']
list1

['banana', 'cherry', 'apple', 'kiwi', 'mango']

In [27]:
for i in list1:
    if i =='apple':
        continue
    else:
        print(i)

banana
cherry
kiwi
mango

In [28]:
list1 = ['apple','banana','cherry','kiwi','mango']
#output : ['banana','cherry','kiwi','mango']

In [55]:
output=[]
for ele in list1:
    if(ele=='apple'):
        continue #skip
    else :
        output.append(ele)

In [56]:
outputput

['banana', 'cherry', 'kiwi', 'mango']

In [57]:
[ele for ele in list1 if(ele!='apple')]

['banana', 'cherry', 'kiwi', 'mango']

In [30]:
output

['banana', 'cherry', 'kiwi', 'mango']

In [31]:
list1 = ['apple','banana','cherry','kiwi','mango']
#output : ['apple','cherry','mango']

In [36]:
new_list = []
for idx, ele in enumerate(list1):
    if idx%2 == 0:
        new_list.append(ele)

In [38]:
new_list

['apple', 'cherry', 'mango']

In [39]:
#output : ['banana','kiwi']

In [40]:
new_list = []
for idx, ele in enumerate(list1):
    if idx%2 != 0:
        new_list.append(ele)

In [53]:
[ele for idx, ele in enumerate(list1) if idx%2 != 0]

['banana', 'kiwi']

In [41]:
new_list

['banana', 'kiwi']

In [42]:
list1
#['cherry',kiwi] -> for any element a should not be present

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [45]:
new_list = []
for ele in list1:
    if 'a' not in ele:
        new_list.append(ele)

In [46]:
new_list

['cherry', 'kiwi']

# List Comprehensions

In [51]:
# one line
new_list = []
for ele in list1:
    if 'a' not in ele:
        new_list.append(ele)

<font size="4"> [ele for loops if conditions]

In [52]:
[ele for ele in list1 if 'a' not in ele]

['cherry', 'kiwi']

In [58]:
# [0,1,2,3,4,5,6,7,8,9,10]

In [59]:
[i for i in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
list1 = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
# ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [63]:
[i.title() for i in list1]

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango']

find the numbers between 0 to 100 which are divisible by 3

In [66]:
[i for i in range(1,101) if i%3==0]

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [67]:
string = "Python is a roadmap for Data Science"

In [75]:
for i in string:
    if i == 'a':
        print(i)

a
a
a
a
a

In [78]:
[i for i in string if i ==' ']

[' ', ' ', ' ', ' ', ' ', ' ']

In [79]:
len([i for i in string if i ==' '])

6

In [71]:
[i for i in string if i == ' ']

[' ', ' ', ' ', ' ', ' ', ' ']

In [72]:
len([i for i in string if i == ' '])

6

In [ ]:
string = "Python is a roadmap for Data Science"

# "Pythn s  rdmp fr Dt Scnc"

In [87]:
"".join([i for i in string if i not in 'aeiou'])

'Pythn s  rdmp fr Dt Scnc'

In [90]:
"".join([i for i in string if i not in ('a','e','i','o','u')])

'Pythn s  rdmp fr Dt Scnc'

In [91]:
{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

In [92]:
string = "Python is a roadmap for Data Science"
string.split()

['Python', 'is', 'a', 'roadmap', 'for', 'Data', 'Science']

In [98]:
dict1 = {}
for i in string.split():
    dict1[i] = len(i)

In [99]:
dict1

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

In [106]:
len("parmeet")

7

In [104]:
string.split()

['Python', 'is', 'a', 'roadmap', 'for', 'Data', 'Science']

In [108]:
dict1 ={}
for i in string.split():
    dict1[i] = len(i)

In [110]:
{i:len(i) for i in string.split()}

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}