# Python - List Comprehension

## 1. List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

- Without list comprehension you will have to write a for statement with a conditional test inside

Example
- Only accept items that are not "apple":

In [1]:
list1 = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for i in list1:
    if i!='apple':
        new_list.append(i)
print(new_list)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#List comprehension
new_list = [expression for lops conditions]

In [2]:
new_list = [i for i in list1 if i!='apple'] #list comprehension
new_list

['banana', 'cherry', 'kiwi', 'mango']

In [1]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist= []
for x in fruits:
    if x!= 'apple':
        newlist.append(x)
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

## 2. The Syntax
<b> newlist = [expression for item in iterable if condition == True] 
- The return value is a new list, leaving the old list unchanged.

In [2]:
#with list comprehension    
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [3]:
lst1 =  ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for i in lst1:
    if 'a' in i:
        new_list.append(i)
        
print(new_list)

['apple', 'banana', 'mango']

In [ ]:
new_list = [ expression Loops conditions]

In [4]:
new_list = [x for x in lst1 if 'a' in x] #list comprehension
new_list

['apple', 'banana', 'mango']

In [3]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = []

for x in fruits:
    if "a" in x:
        list1.append(x)

print(list1)

['apple', 'banana', 'mango']

In [4]:
#with list comprehension
list1 = [x for x in fruits if "a" in x]
print(list1)

['apple', 'banana', 'mango']

## 3. Iterable
- The iterable can be any iterable object, like a list, tuple, set etc.

**Example**
- You can use the range() function to create an iterable:

In [6]:
list1 = [ x for x in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list1 = [ x for x in range(10) if x<5]
list1

[0, 1, 2, 3, 4]

In [8]:
list1 = [ x for x in range(10) if x%2==0]
list1

[0, 2, 4, 6, 8]

In [5]:
list1 = [x for x in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Same example, but with a condition:

**Example**
- Accept only numbers lower than 5:

In [6]:
list1 = [x for x in range(10) if x < 5]
print(list1)

[0, 1, 2, 3, 4]

## 4. Expression
- The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

**Example**
- Set the values in the new list to upper case:

In [9]:
list1 = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
#upper case 
list1 = [ x.upper() for x in list1]
list1

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [11]:
#upper case 
list1 = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
list1 = [ x[0].upper()+x[1:] for x in list1]
list1

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango']

In [16]:
list1 = ['apple', 'banana', 'cherry', 'kiwi', 'mango']

for x in list1:
    print(x[0].upper()+x[1:])

Apple
Banana
Cherry
Kiwi
Mango

In [7]:
print("Original List : ",fruits)
list1 = [x.upper() for x in fruits]
print("After Implementing List Comprehension : ",list1)

Original List :  ['apple', 'banana', 'cherry', 'kiwi', 'mango']
After Implementing List Comprehension :  ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

## 5. Few Excercies

## a. find the numbers divisible by 3 between 1 to 100

In [8]:
nums = [i for i in range(1,101)]
nums[:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [20]:
[i for i in range(1,101) if i%3==0]

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [9]:
odd = [x for x in nums if x%3==0]
print(odd)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## b. Find all of the numbers from 1–100 that have a 6 in them

In [24]:
# for x in range(1,101):
#     if '6' in str(x):
#         print(x)
        
[x for x in range(1,101) if '6' in str(x)]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [10]:
num = [num for num in nums if "6" in str(num)]
num

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

### c. Count the number of spaces in a string

In [25]:
string = "Python is a roadmap for Data Science"

In [26]:
count =0 
for x in string:
    if x == " ":
        count +=1

In [29]:
len([x for x in string if x ==" "])

6

In [30]:
string = "Python is a roadmap for Data Science"

In [38]:
# for words in string:
#     if words.lower() not in ('a','e','i','o','u'): 
#         print(words)
        
"".join([words for words in string if words not in ["a","e","i","o","u"]])

'Pythn s  rdmp fr Dt Scnc'

In [45]:
string = "Python is a roadmap for Data Science"

' '.join([words for words in string.split() if len(words)<6])

'is a for Data'

In [50]:
for i in string.split():
    print(i,len(i))

Python 6
is 2
a 1
roadmap 7
for 3
Data 4
Science 7

In [43]:
for i in string.split():
    print(i,len(i))

Python 6
is 2
a 1
roadmap 7
for 3
Data 4
Science 7

In [ ]:
# first 10 numbers
{1:1,2:4,3:9,4:16,5:25,6:36,7:49,8:64,9:81,10:100}

In [53]:
{ x: x*x for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
cnt = len([char for char in string if char == " "])
cnt

6

## d. Remove all of the vowels in a string

In [13]:
new_string = "".join([char for char in string if char not in ["a","e","i","o","u"]])
new_string

'Pythn s  rdmp fr Dt Scnc'

## e. Find all of the words in a string that are less than 6 letters

In [14]:
words = string.split(" ")
new_list = [word for word in words if len(word) < 5]
new_list

['is', 'a', 'for', 'Data']

## f. Use a dictionary comprehension to count the length of each word in a sentence

In [15]:
new_dict = {word:len(word) for word in words}
new_dict

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

## g. Use a nested list comprehension to find all of the numbers from 1–100 that are divisible by any single digit besides 1,2,3 (2–9)

In [16]:
new_list = [num for num in nums if True in [True for divisor in range(4,10) if num % divisor == 0]]
new_list[:15] #displaying first 15 elements

[4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24]

## h. For all the numbers 1–25, use a nested list/dictionary comprehension to find the highest single digit any of the numbers is divisible by

In [17]:
new_dict = {num:max([divisor for divisor in range(1,10) if num % divisor == 0]) for num in nums[:25]}
new_dict

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 5,
 11: 1,
 12: 6,
 13: 1,
 14: 7,
 15: 5,
 16: 8,
 17: 1,
 18: 9,
 19: 1,
 20: 5,
 21: 7,
 22: 2,
 23: 1,
 24: 8,
 25: 5}