In [10]:
# Deep copy and shallow copy

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = list1.copy()

In [11]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list2.pop(0)

1

In [14]:
list2

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
id(list1)

1478408604992

In [17]:
id(list2)

1478408175936

In [18]:
list3 = ['parmeet', 'Ajay', 'shubham', 'Sai', 'mansi']

In [19]:
# ['Sai','Ajay','mansi','shubham','parmeet']

In [21]:
list3.sort()

In [22]:
list3

['Ajay', 'Sai', 'mansi', 'parmeet', 'shubham']

In [24]:
list3.sort(key = len)

In [25]:
list3

['Sai', 'Ajay', 'mansi', 'parmeet', 'shubham']

In [30]:
list4 = [100,99,6,8,105,3]

In [27]:
# [100,3,105,6,8,99]

In [31]:
def fun(n):
    return n%10

list4.sort(key=fun)

In [32]:
list4

[100, 3, 105, 6, 8, 99]

In [33]:
# concept of unpacking
tup1 = ("apple","mangoes","oranges","banana")

In [34]:
a1,m1,o1,b1 = tup1

In [37]:
print(a1,m1,o1,b1)

apple mangoes oranges banana

In [39]:
a1,m1,*o1 = tup1

In [40]:
print( a1, m1, o1)

apple mangoes ['oranges', 'banana']

In [41]:
a1,*m1,o1 = tup1

In [42]:
m1

['mangoes', 'oranges']

In [43]:
a1

'apple'

In [44]:
o1

'banana'

In [45]:
import numpy as np

In [47]:
list1 = [1,2,3]
list2 = [1,2,3]
# [2,4,6]
list1 + list2

[1, 2, 3, 1, 2, 3]

In [58]:
list1 = [1,1,1,2,2,3,4,4,5,65,65,7,7,65,5,4,3,2,2,1,1,5,6,7,2,1,3,4,5,6,8]

In [51]:
#remove duplicates
list(set(list1))

[1, 2, 3, 4, 5, 65, 7, 6, 8]

In [72]:
# find the occurence
def custom_count(list_name,x):
    return list_name.count(x)

In [74]:
dict1 ={}
for ele in set(list1):
    dict1[ele] = custom_count(list1,ele)

In [75]:
dict1

{1: 6, 2: 5, 3: 3, 4: 4, 5: 4, 65: 3, 7: 3, 6: 2, 8: 1}

In [76]:
from collections import Counter
Counter(list1)

Counter({1: 6, 2: 5, 3: 3, 4: 4, 5: 4, 65: 3, 7: 3, 6: 2, 8: 1})

In [79]:
def customer_upper(text):
    return text.upper()

In [80]:
print(customer_upper("heLLo"))

HELLO

In [81]:
def customer_upper(text):
    return text.upper()

def customer_lower(text):
    return text.lower()

def greet(func):
    greeting = func("hello, Passed function as an ARGUMENT")
    print(greeting)

In [82]:
greet(customer_lower)

hello, passed function as an argument

In [83]:
greet(customer_upper)

HELLO, PASSED FUNCTION AS AN ARGUMENT

In [84]:
# function returning another function

def custom_add(x): # Outer function
    def adder(y): # Inner function
        return x+y
    
    return adder

In [86]:
add_15 = custom_add(15) #function which is ready to call inner function
add_15(15)

30

In [87]:
custom_add(15)(15)

30

In [157]:
def hello_decorator(func):# func =function_to_be_used
    
    def inner():
        print("Hello, this is before execution")
        
        func()
        
        print("This is after execution")
        
    return inner

In [158]:
def function_to_be_used():
    print("This is the inside function..!!!")

In [159]:
@hello_decorator
def function_to_be_used():
    print("This is the inside function..!!!")

In [105]:
hello_decorator(function_to_be_used)()

Hello, this is before execution
This is the inside function..!!!
This is after execution

In [91]:
function1 = hello_decorator(function_to_be_used)
function1()

Hello, this is before execution
This is the inside function..!!!
This is after execution

In [107]:
# try to find out the execution time of decorator
import time
import math

def cal_time(func):
    
    def inner(*args, **kargs):
        
        #store the execution time
        begin = time.time()
        
        func(*args,**kargs)
        
        #store the end time
        end = time.time()
        print("Total time take in : ",func.__name__, end - begin)
    return inner

In [112]:
def fact(num):
    
    time.sleep(2) #wait time
    print(math.factorial(num))

In [119]:
fact.__name__

'fact'

In [122]:
cal_time(fact)(10)

3628800
Total time take in :  fact 2.0082592964172363

In [118]:
cal_time(fact)(10)

3628800
Total time take in :  fact 2.0101840496063232

In [133]:
# what if function is returning something

def func_decorators(func):
    def inner(*args,**kargs):
        print("Before execution")
        
        returned_value = func(*args,*kargs)
        
        return returned_value
    return inner

In [137]:
#adding decorator to the function

def custom_add(a,b):
    print("Inside function")
#     return a+b

In [138]:
a,b = 1,2

In [139]:
output = func_decorators(custom_add)(a,b)
print(f"sum of two numbers is : {output}")

Before execution
Inside function
sum of two numbers is : None

In [140]:
# chaining decorators

def decorator1(func):
    def inner1():
        x= func()
        return x*x
    return inner1

def decorator2(func):
    def inner2():
        x = func()
        return 2*x
    return inner2

def num():
    return 10

In [142]:
print(num())

10

In [148]:
decorator1(num)()

100

In [150]:
decorator2(num)()

20

In [155]:
decorator1(decorator2(num))()

400

In [162]:
def num():
    return 10

In [163]:
num()

10

In [164]:
decorator1(num)()

100

In [165]:
@decorator1
def num():
    return 10

In [166]:
num()

100

In [167]:
@decorator2
def num():
    return 10

In [168]:
num()

20

In [175]:
# function to demonstrate annotations
###def fib(n, output =[]) 011235......
def fib(n:'int', output:'list'=[]) ->'list': # annotations
    if n ==0:
        return output
    else:
        if len(output)<2:
            output.append(1)
            fib(n-1,output)
        else:
            last = output[-1]
            second_last = output[-2]
            output.append(last+second_last)
            fib(n-1,output)
        return output

In [176]:
fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [171]:
fib.__annotations__

{'n': 'int', 'output': 'list', 'return': 'list'}

In [177]:
import inspect

In [178]:
inspect.getfullargspec(fib)

FullArgSpec(args=['n', 'output'], varargs=None, varkw=None, defaults=([1, 1, 2, 3, 5, 8, 13, 21, 34, 55],), kwonlyargs=[], kwonlydefaults=None, annotations={'return': 'list', 'n': 'int', 'output': 'list'})

In [179]:
import pandas as pd
import numpy as np

In [191]:
df = pd.read_csv("train.csv")

In [192]:
isinstance(df,pd.DataFrame)

True

In [195]:
class custom_preprocess:
    
    def __init__(self,data):
        self.dataframe = data
        self.validate()
        self.custom_data_understanding()
        
    def validate(self):
        if not isinstance(self.dataframe,pd.DataFrame):
            raise "Input should be dataframe object."

    def custom_data_understanding(self):
        print("Extracting the dataframe information".center(100,"*"))
        print(f"\n{'Total number of rows':30s} : {self.dataframe.shape[0]}")
        print(f"{'Total number of rows':30s} : {self.dataframe.shape[1]}")

        print("\nAnalysing columns......")
        categorical_cols = self.dataframe.select_dtypes(include =['object','category'])
        numerical_cols = self.dataframe.select_dtypes(exclude = ['object','category'])
        print(f"{'Categorical columns':30s} : {categorical_cols.shape[1]}")
        print(f"{'Numerical columns':30s} : {numerical_cols.shape[1]}")

In [197]:
list1 = [1,2,3,4,5]

In [198]:
cp = custom_preprocess(list1)

TypeError: exceptions must derive from BaseException

In [ ]:
1   Nan  Nan
2   1    Nan
3   2    1 
4   3    2 
5   4    3 
6   5    4
7   6    5

In [202]:
df['Age'].dropna().cumsum()

0         22.00
1         60.00
2         86.00
3        121.00
4        156.00
         ...
885    21101.17
886    21128.17
887    21147.17
889    21173.17
890    21205.17
Name: Age, Length: 714, dtype: float64

In [204]:
df['Age'].shift(1)

0       NaN
1      22.0
2      38.0
3      26.0
4      35.0
       ...
886    39.0
887    27.0
888    19.0
889     NaN
890    26.0
Name: Age, Length: 891, dtype: float64

In [208]:
np.random.RandomState(31).choice(["A", "B"],15)

array(['A', 'B', 'A', 'A', 'A', 'B', 'A', 'A', 'A', 'B', 'A', 'A', 'A',
       'A', 'A'], dtype='<U1')

In [205]:
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15), 
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})

In [206]:
df.head()

   vals grps
0   -12    A
1    -7    B
2   -14    A
3     4    A
4    -7    A

In [209]:
def replace(group):
    mask = group<0
    group[mask] = group[~mask].mean()
    return group

In [214]:
df['tranformed_val'] = df.groupby(['grps'])['vals'].transform(replace)
df.head()

   vals grps  tranformed_val
0   -12    A            13.6
1    -7    B            28.0
2   -14    A            13.6
3     4    A             4.0
4    -7    A            13.6

In [227]:
df[df['grps'] =='B'].head()

   vals grps  tranformed_val
1    -7    B            28.0
5    28    B            28.0
9    -2    B            28.0

In [228]:
df.loc[((df['grps'] =='A') & (df['vals']>0)),'vals']

3      4
8      8
10    28
11    12
12    16
Name: vals, dtype: int32

In [230]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
df

   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0

In [234]:
g1 = df.groupby(['group'])['value']

In [235]:
g2 = df.fillna(0).groupby(['group'])['value']

In [243]:
g2.rolling(3,min_preiods=2).sum()

group
a      0      NaN
       1      NaN
       4      5.0
       8     11.0
       10     9.0
b      2      NaN
       3      NaN
       5      6.0
       6      3.0
       7      4.0
       9      4.0
       11    12.0
Name: value, dtype: float64