# Functions

In [ ]:
def function_name(parameters):
    logic

In [2]:
list1 = [1,2,3,4,5,6,7,8]

In [17]:
def custom_square(x):
    return x*x

In [10]:
for i in list1:
    print(f'{i} : {custom_square(i)}')

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64

In [22]:
def custom_square1(args):
    if not isinstance(args, list):
        raise "Invalid type"
    print(args)
    print(type(args))

In [23]:
custom_square1(list1)

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>

In [24]:
custom_square1(1)

TypeError: exceptions must derive from BaseException

In [25]:
def custom_square1(*args):
    print(args)
    print(type(args))

In [26]:
custom_square1((1,2,5,6))

((1, 2, 5, 6),)
<class 'tuple'>

In [ ]:
-> passing parameters as integers/strings
-> passing arguments ->*args

In [38]:
def custom_information(**kargs):
    print(kargs)
    print(type(kargs))

In [39]:
custom_information(Name ='Parmeet',Age=27,Location='Indore')

{'Name': 'Parmeet', 'Age': 27, 'Location': 'Indore'}
<class 'dict'>

In [40]:
def custom_information(*args, **kargs):
    print(args)
    print(type(args))
    print(kargs)
    print(type(kargs))

In [41]:
custom_information(list1,Name ='Parmeet',Age=27,Location='Indore')

([1, 2, 3, 4, 5, 6, 7, 8],)
<class 'tuple'>
{'Name': 'Parmeet', 'Age': 27, 'Location': 'Indore'}
<class 'dict'>

In [45]:
def custom_add(x,y=None):
    if y == None:
        return x*x
    else:
        return x+y

In [47]:
custom_add(5,7)

12

## lambda Function

In [50]:
def square(x):
    return x*x

In [52]:
s = lambda x: x*x

In [54]:
square(2)

4

In [55]:
s(2)

4

In [56]:
def custom_add(x,y):
    return x+y

In [58]:
a = lambda x,y : x+y

In [59]:
custom_add(4,5)

9

In [61]:
a(4,5)

9

In [62]:
def greater(x,y):
    if x>y:
        return x
    else:
        return y

In [ ]:
lambda x,y : True_condition if condition else False_condition

In [64]:
g = lambda x,y : x if x>y else y

In [65]:
greater(5,4)

5

In [66]:
g(5,4)

5

In [67]:
greater(5,51)

51

In [68]:
g (5,51)

51

In [ ]:
## For loops should be avoided

## Map Filter Reduce

In [1]:
list1 = [1,2,3,4,5,6,7,8]

In [69]:
# I want to square each number in the list - [1,4,9.....]
def square(x):
    return x*x

In [72]:
new_list= []
for ele in list1:
    new_list.append(square(ele))
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64]

In [74]:
# list comprehensions 
new_list = [ele * ele for ele in list1]
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
# Map ->iterables->list,tuples,dictionaries,sets,strings
map(function_name,iterables)

In [75]:
map(lambda x: x*x, list1) -> return object, map this to another iterable to gte the output

In [77]:
list(map(lambda x: x*x, list1))

[1, 4, 9, 16, 25, 36, 49, 64]

In [78]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
map(funtion_name,iterables) ->object
list(map(funtion_name,iterables))

In [79]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
list(map(lambda x: x**3, list1))

[1, 8, 27, 64, 125, 216, 343, 512]

In [81]:
def odd_even(x):
    if x%2==0:
        return x**2
    else:
        return x**3

In [85]:
list(map(odd_even,list1))

[1, 4, 27, 16, 125, 36, 343, 64]

In [87]:
list(map(lambda x: x**2 if x%2==0 else x**3,list1))

[1, 4, 27, 16, 125, 36, 343, 64]

In [88]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# ouput should be all odd numbers -> [1,3,5,7]
# filter
filter(function_name,iterables)

In [92]:
list(filter(lambda x: x%2!=0,list1))

[1, 3, 5, 7]

In [93]:
list(filter(lambda x: x%2==0,list1))

[2, 4, 6, 8]

# reduce -> it will return only single output
reduce(function_name,iterables)

In [94]:
list1 -> sum

[1, 2, 3, 4, 5, 6, 7, 8]

In [95]:
from functools import reduce

In [96]:
reduce(lambda x,y : x+y, list1)

36

In [97]:
list2 = [4,87,234,7,2,0,1]

In [101]:
reduce(lambda x,y : x if x>y else y, list2)

234

In [ ]:
# Map -> it will map each element and retun the same number of elements
# Filter -> it ill filter the elements based on the conditions
# Reduce -> will reduce the iterables and return the single output

In [102]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
{1:1,2:4,3:9,4:16,5:25}

In [103]:
dict1={}
for ele in list1:
    dict1[ele] = ele* ele
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [104]:
dict1 = {ele:ele*ele for ele in list1}

In [105]:
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}