# Python - List Comprehension

## 1. List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

- Without list comprehension you will have to write a for statement with a conditional test inside

Example
- Only accept items that are not "apple":

In [1]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist= []
for x in fruits:
    if x!= 'apple':
        newlist.append(x)
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

## 2. The Syntax
<b> newlist = [expression for item in iterable if condition == True] 
- The return value is a new list, leaving the old list unchanged.

In [2]:
#with list comprehension    
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [3]:
#Without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list1 = []

for x in fruits:
    if "a" in x:
        list1.append(x)

print(list1)

['apple', 'banana', 'mango']

In [4]:
#with list comprehension
list1 = [x for x in fruits if "a" in x]
print(list1)

['apple', 'banana', 'mango']

## 3. Iterable
- The iterable can be any iterable object, like a list, tuple, set etc.

**Example**
- You can use the range() function to create an iterable:

In [5]:
list1 = [x for x in range(10)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Same example, but with a condition:

**Example**
- Accept only numbers lower than 5:

In [6]:
list1 = [x for x in range(10) if x < 5]
print(list1)

[0, 1, 2, 3, 4]

## 4. Expression
- The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

**Example**
- Set the values in the new list to upper case:

In [7]:
print("Original List : ",fruits)
list1 = [x.upper() for x in fruits]
print("After Implementing List Comprehension : ",list1)

Original List :  ['apple', 'banana', 'cherry', 'kiwi', 'mango']
After Implementing List Comprehension :  ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

## 5. Few Excercies

## a. find the numbers divisible by 3 between 1 to 100

In [8]:
nums = [i for i in range(1,101)]
nums[:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [9]:
odd = [x for x in nums if x%3==0]
print(odd)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## b. Find all of the numbers from 1–100 that have a 6 in them

In [10]:
num = [num for num in nums if "6" in str(num)]
num

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

### c. Count the number of spaces in a string

In [11]:
string = "Python is a roadmap for Data Science"

In [12]:
cnt = len([char for char in string if char == " "])
cnt

6

## d. Remove all of the vowels in a string

In [13]:
new_string = "".join([char for char in string if char not in ["a","e","i","o","u"]])
new_string

'Pythn s  rdmp fr Dt Scnc'

## e. Find all of the words in a string that are less than 6 letters

In [14]:
words = string.split(" ")
new_list = [word for word in words if len(word) < 5]
new_list

['is', 'a', 'for', 'Data']

## f. Use a dictionary comprehension to count the length of each word in a sentence

In [15]:
new_dict = {word:len(word) for word in words}
new_dict

{'Python': 6, 'is': 2, 'a': 1, 'roadmap': 7, 'for': 3, 'Data': 4, 'Science': 7}

## g. Use a nested list comprehension to find all of the numbers from 1–100 that are divisible by any single digit besides 1,2,3 (2–9)

In [16]:
new_list = [num for num in nums if True in [True for divisor in range(4,10) if num % divisor == 0]]
new_list[:15] #displaying first 15 elements

[4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 24]

## h. For all the numbers 1–25, use a nested list/dictionary comprehension to find the highest single digit any of the numbers is divisible by

In [17]:
new_dict = {num:max([divisor for divisor in range(1,10) if num % divisor == 0]) for num in nums[:25]}
new_dict

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 5,
 11: 1,
 12: 6,
 13: 1,
 14: 7,
 15: 5,
 16: 8,
 17: 1,
 18: 9,
 19: 1,
 20: 5,
 21: 7,
 22: 2,
 23: 1,
 24: 8,
 25: 5}